#canvas {
    background: black;
    border: 8px solid darkgreen;
}

#headerCanvas {
    background: black;
}

body {
    background-color: black;
}

#center {
    width: 100%;
    text-align: center;
}